@page
@model E9U.Tangello.Private.Pages.InUseProjectModel
@{
    Layout = "_BootstrapLayout";
    ViewData["Title"] = this.Model.ProjectName;
}

<div class="container">
    <h2 style="text-align:center">
        <small class="text-muted">Project</small>
        @(this.Model.ProjectName)
    </h2>
    <br />

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default light-grey-border grey-actions-panel">
                <div class="panel-heading" style="text-align:center; border:0; font-size:110%"><b>Project Details</b></div>

                <div class="panel-body" style="height:68vh; overflow:auto">
                    @*<div style="height:100%; position:relative">*@
                    <div style="height:100%; display:flex;flex-direction:column">

                        <div>
                            <b>Category:</b> <a href="/ProjectNames?categoryName=@this.Model.Category">@this.Model.Category</a> (@this.Model.ProjectType)
                        </div>

                        <hr />

                        <label for="projectDescription">Project Description:</label>
                        <textarea disabled id="projectDescription" name="projectDescription" maxlength="2000" style="resize:none; margin-bottom:4px" rows="5" class="form-control">@this.Model.ProjectDescription</textarea>

                        <span>
                            @Html.AntiForgeryToken()
                            <input type="button" class="btn btn-default" id="EditDescriptionButton" value="Edit Description">
                            <input disabled type="button" class="btn btn-default" id="SaveDescriptionButton" value="Save Changes">
                            <span style="display:none" id="charactersRemaining">Remaining characters : @(2000 - this.Model.ProjectDescription.Length)</span>
                            <span style="display:none" id="ChangesSavedText">Changes Saved!</span>
                        </span>


                        <hr />

                        <div style="text-align:center; margin-top:auto; margin-bottom:10px">
                            <input type="button" class="btn btn-danger" id="DeleteProjectNameButton" value="Delete @(this.Model.ProjectName)">
                        </div>

                        @*<div style="display:flex; position:absolute; bottom:0; left: 50%">
            <div style="position: relative; left: -50%">
                <input type="button" class="btn btn-danger" id="DeleteProjectNameButton" value="Delete @(this.Model.ProjectName)">
            </div>
        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section BodyEndScripts {
    <script src="~/js/textCounter.js"></script>
    <script src="~/js/editDescription.js"></script>
    <script src="~/ts-out/saveChangesToDescription.js"></script>
    <script src="~/ts-out/deleteInUseProject.js"></script>
}