@page
@model E9U.Tangello.Private.Pages.ProjectNamesModel
@{
    Layout = "_BootstrapLayout";
    ViewData["Title"] = this.Model.CategoryName + " Projects";
}


<div class="container">
    <h2 style="text-align:center">
        @(this.Model.CategoryName)
        <small id="projectTypeInHeader" class="text-muted">@(this.Model.ProjectType)</small>
    </h2>
    <br />

    <div class="row">
        <div class="col-sm-12">
            <input type="text" class="light-grey-border" id="myInput" placeholder="Search for project names...">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-3">
            <div class="panel panel-default light-grey-border">
                <div class="panel-heading" style="background:#424242;color:lightgrey">Available Project Names</div>
                <div class="panel-body myPanel">
                    <ul class="list-group" id="projectNamesUL">
                        @foreach (var projectName in this.Model.AvailableProjectNames)
                        {
                            <li class="list-group-item">@projectName</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-3">
            <div class="panel panel-default light-grey-border">
                <div class="panel-heading" style="background:#424242;color:lightgrey">Ongoing Projects</div>
                <div class="panel-body myPanel">
                    <ul class="list-group" id="projectNamesULinUse">
                        @foreach (var projectName in this.Model.InUseProjectNames)
                        {
                        <li class="list-group-item">
                            <a href="/InUseProject?projectName=@projectName">@projectName</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-6">
            <div class="panel panel-default light-grey-border grey-actions-panel">
                <div class="panel-heading" style="text-align:center; border:0"><b>Actions</b></div>

                <div class="panel-body myPanel">
                    @*<div style="height:100%; position:relative">*@
                    <div style="height:100%; display:flex;flex-direction:column">

                        <div style="text-align:center">
                            Click on an ongoing project to view its details.
                        </div>
                        <hr />

                        <div>
                            <span>Get a project name:</span>
                            <span id="GetProjectNameMessage" class="text-muted">Enter an available project name.</span>
                        </div>
                        <div class="input-group">
                            <input id="inputGetProjectName" name="inputGetProjectName" type="text" class="form-control" placeholder="Available project name:">
                            <div class="input-group-btn">
                                <input disabled type="button" class="btn btn-default" id="GetSpecificProjectNameButton" value="Get Project Name">
                            </div>
                        </div>

                        <div style="margin-top:3px" class="input-group">
                            <input disabled type="text" class="form-control" placeholder="or get the first available project name.">
                            <div class="input-group-btn">
                                <input type="button" class="btn btn-default" id="GetRandomProjectNameButton" value="Get First">
                            </div>
                        </div>

                        <hr />

                        <div>
                            Add a project name:
                            <span id="AddProjectNameMessage" class="text-muted">Enter a new project name.</span>
                        </div>
                        <form method="post">
                            @Html.AntiForgeryToken()
                            <div class="input-group">
                                <input id="inputProjectName" name="newProjectName" type="text" class="form-control" placeholder="New project name:">
                                <div class="input-group-btn">
                                    <button disabled id="addProjectNameButton" class="btn btn-default" type="submit">
                                        <text>Add Project Name</text>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <hr />

                        <div>Rename Project Type:</div>
                        <div class="input-group">
                            <input id="inputProjectType" name="newProjectType" type="text" class="form-control" placeholder="Rename @this.Model.ProjectType">
                            <div class="input-group-btn">
                                <input disabled type="button" class="btn btn-default" id="RenameProjectTypeButton" value="Rename Project Type">
                            </div>
                        </div>

                        <hr />

                        <div style="text-align:center; margin-top:auto; margin-bottom:10px">
                            <input type="button" class="btn btn-danger" id="DeleteCategoryButton" value="Delete @(this.Model.CategoryName)">
                        </div>

                        @*<div style="display:flex; position:absolute; bottom:0; left: 50%">
            <div style="position: relative; left: -50%">
                <input type="button" class="btn btn-danger" id="DeleteCategoryButton" value="Delete @(this.Model.CategoryName)">
            </div>
        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section BodyEndScripts {
    <script src="~/ts-out/search.js"></script>
    <script src="~/ts-out/getProjectName.js"></script>
    <script src="~/ts-out/deleteCategory.js"></script>
    <script src="~/ts-out/renameProjectType.js"></script>
    <script src="~/js/addProjectName.js"></script>
    <script src="~/js/toggleButtonsProjectNames.js"></script>
}